
<div class="jumbotron bg-primary text-white">
  <h1 class="display-4">  Paises </h1>
</div>

  <% if notice %>
    <p class="alert alert-info"><%= notice %></p>
  <% end %>


      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Pais</th>
            <th colspan="3">Acciones</th>
          </tr>
        </thead>

        <tbody>
          <% @paises.each do |paise| %>
            <tr>
              <td><%= paise.id %></td>
              <td><%= paise.pais %></td>
              <td><%= link_to 'Mostrar', paise, class: 'btn btn-sm btn-primary' %></td>
              <td><%= link_to 'Editar', edit_paise_path(paise), class: 'btn btn-sm btn-warning' %></td>
              <td><%= link_to 'Borrar', paise, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-sm btn-danger' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="text-center mt-3">
        <%= link_to 'Nuevo Pais', new_paise_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>