<%= form_with(model: bomba) do |form| %>
  <% if bomba.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(bomba.errors.count, "error") %> no se puede guardar:</h2>

      <ul>
        <% bomba.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group mb-3">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, class: 'form-control' %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :coordenadas %>
    <%= form.text_field :coordenadas, class: 'form-control' %>
  </div>

  <div class="d-flex justify-content-end">
  <%= form.submit 'Guardar', class: 'btn btn-primary me-2' %>
  <%= link_to 'Cancelar', bombas_path, class: 'btn btn-secondary' %>
</div>
<% end %>
