<div class="jumbotron bg-primary text-white">
  <h1 class="display-4">Bombas</h1>
</div>

  <% if notice %>
    <p class="alert alert-info"><%= notice %></p>
  <% end %>

  <table class="table table-striped" style="margin: 0; padding: 0;">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Coordenadas</th>
        <th colspan="4" class="text-center">Acciones</th>
      </tr>
    </thead>

    <tbody>
    <% @bombas.each do |bomba| %>
      <tr>
        <th scope="row"><%= bomba.id %></th>
        <td><%= bomba.descripcion %></td>
        <td><%= bomba.coordenadas %></td>
        
        <td class="col-md-2 text-center">
          <%= link_to 'Google Maps', "https://maps.google.com/maps?q=#{bomba.coordenadas}", class: "btn btn-success opacity-100" %>
        </td>
        <td class="col-md-2 text-center">
          <%= link_to 'Mostrar', bomba, class: "btn btn-warning" %>
        </td>
        <td class="col-md-2 text-center">
          <%= link_to 'Editar', edit_bomba_path(bomba), class: "btn btn-primary" %>
        </td>
        <td class="col-md-2 text-center">
          <%= link_to 'Borrar', bomba, method: :delete, data: { confirm: 'Estas seguro?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Nueva Bomba", new_bomba_path, class: "btn btn-success opacity-75" %>

        