<p id="notice"><%= notice %></p>

<h1>Bombas</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Coordenadas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bombas.each do |bomba| %>
      <tr>
        <td><%= bomba.descripcion %></td>
        <td><%= bomba.coordenadas %></td>
        <td><%= link_to 'Show', bomba %></td>
        <td><%= link_to 'Edit', edit_bomba_path(bomba) %></td>
        <td><%= link_to 'Destroy', bomba, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bomba', new_bomba_path %>
