<!DOCTYPE html>
<html>
<head>
  <title>MyApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CHRONOS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to 'Empleados', empleados_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Personas', personas_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Cargos', cargos_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Ubicaciones', ubicaciones_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Países', paises_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Ciudades', ciudades_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Clientes', clientes_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Bombas', bombas_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <%= yield %>
  </div>
</body>
</html>

